<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body class="container">


    <div class="row">
        <div class="col-8 p-5">
            <h2>Folders</h2>
        </div>
        
        <div class="col-4 p-5 mt-5">
            <button class="btn btn-danger fw-bold align-bottom"><a class="text-dark" href="{% url 'creatfolder' %}">CREATE FOLDER</a></button>
        </div>
    </div>
    
    <hr>
    <ul>
        {% for Folder in Folders %}
        <li>
            <a href="{% url 'file' Folder.id %}">
                {{ Folder.name }}
            </a>
        </li>
        {% endfor %}
    </ul>


    
    
</body>
</html>